
<div class="container">
	<div class="row">
    <div class="col-sm-12 col-lg-12">
        <h1 class="h1">
            Contact us <small>Feel free to contact us</small></h1>
    </div>
    <div class="flash"></div>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8" id="contact_form">
      <div class="well well-sm">
	    	<%= form_for :contact, url: message_path,remote: true, :html => { :id => "contact_us"}  do |f| %>
	        	<div class="row">
            	<div class="col-md-6">
                	<div class="form-group">
                    	<%= f.label :name %><br>
                    	<%= f.text_field :name, class: "form-control" , placeholder: "Enter Name" %>
                	</div>
                	<div class="form-group">
                    	<label for="email">
                        	Email Address</label>
                    	<div class="input-group">
                        	<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                        	</span>
                        	<%= f.text_field :email, class: "form-control", placeholder: "Enter Email" %>
                        </div>
                	</div>
                	<div class="form-group">
                    	<label for="email">
                        	Mobile Number</label>
                    	<div class="input-group">
                        	<%= f.text_field :mobile_number, class: "form-control", placeholder: "Enter Mobile Number" %>
                        </div>
                	</div>
                	<div class="form-group">
                    	<label for="email">
                        	Message</label>
                    	<div class="input-group">
                        	<%= f.text_area :description, class: "form-control", placeholder: "Leave your message here?" , :style=> "resize:none" %>
                        </div>
                	</div>
            	</div>

            	<div class="col-md-12">
            		<%= f.submit "Send Message",  class: "fbtn btn-primary pull-right" %>
            	</div>
	        	</div>
	      <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <form>
      
      <iframe width="600" height="450" frameborder="0" style="border:0"  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-YXdw3mpXcf6daGYSPSf72JVuFRuUrjE &q=Space+Needle,Seattle+WA" allowfullscreen></iframe>
      </form>
    </div>
 </div>




