
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <div class="search-box">
        <h2>Forgot your password?</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {method: :post,:class => 'loginForm'} ) do |f| %>
          <div class="input-group">
	          <% flash.each do |key, value| %>          
	          	<div><%= value %></div>         
	          <% end %>
            <%= devise_error_messages! %>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Enter Your Email" %>	       
        		<%= f.submit "Send me reset password instructions", :class => "form-control", style: 'margin-bottom: 15px;'%>
          </div>
       <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>